// Utilities
@use "./fonts";
@use "./colors";

// Base styles
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    background-color: colors.$Very-dark-blue;

    font-family: fonts.$Rubik;
}
